<div id=<%= id %> class="c-hdropdown u-is-hidden">
  <header class="c-hdropdown__header">
    <h3 class="c-hdropdown__title">
      <%= title %>
    </h3>
  </header>
  <div class="c-hdropdown__content">
    <ul class="c-hdropdown__list">
      <% buttons.each do |btn| %>
        <li>
          <%= render "components/dropdown_btn", 
            route: btn[:route],
            icon_path: btn[:icon],
            title: btn[:title]
          %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
