<div id="<%= dom_id category_transaction %>">
  <p>
    <strong>Name:</strong>
    <%= category_transaction.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category_transaction.description %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= category_transaction.payment %>
  </p>

</div>
