.c-recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--recipe-item-width-desktop), min-content));
  grid-gap: 1.2rem;
}

.single-category {
  display:flex;
  justify-content: space-between;
  padding: 0.7rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;

  &__details {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }
}

h1.page_title {
  text-align: center;
    font-size: 1.8em;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.p-main-container #user_transactions > p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.btn-add-new, .btn-delete-item {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary-400);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.category_transaction_show {
  background-color: #fff;
  padding: 2rem 1rem;
}

.see-details a {
  font-size: 1.5em;
  &:hover {
    transform: translateX(0.5rem);
  }
}

.category_transaction_show .transaction_category_time {
  display: none;
}

.name_or_title a{
  font-size: 1.2em;
  font-weight: 500;
}

.transaction_no {
  padding: 2rem 0;
}

.total_payment {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  div {
    width: 100%;
    .submit-btn {
      background-color: var(--color-primary-400);
      color: #fff;
      border: none;
    }
    input, textarea {
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }
}
