.c-recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--recipe-item-width-desktop), min-content));
  grid-gap: 1.2rem;
}

.single-category {
  display:flex;
  justify-content: space-between;
  padding: 0.7rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;

  &__details {
    display: flex;
    gap: 1.2rem;
  }
}
