<div id="<%= dom_id category %>" class="single-category__details">
<%= render "components/attached_img", 
      image: category.image, 
      image_class: "c-recipe-view__img",
      image_alt: "Category photo",
      placeholder: "recipe_placeholder.jpg" 
  %>
  <div>
  <p>
    <strong>
      <%= category.title %>
    </strong>
  </p>
  <p>
    <%= category.created_at.strftime("%F")%>
  </p>
  </div>

</div>
