<div id="<%= dom_id category %>" class="single-category__details">
<%= render "components/attached_img", 
      image: category.image, 
      image_class: "c-recipe-view__img",
      image_alt: "Category photo",
      placeholder: "food_placeholder.jpg" 
  %>
  <div>
  <p>
  <%# This is a comment %>
    <strong>
      <%= link_to category.title, category_category_transactions_path(category.id) %>
    </strong>
  </p>
  <p>
    <%= category.created_at.strftime("%F")%>
  </p>
  </div>

</div>
