<p style="color: green"><%= notice %></p>
<%= render @category %>
<div>
  <%= link_to "Back to categories", categories_path %>
</div>
<div class="btn-delete-item">
  <%= link_to "Destroy this category", category_path(id: @category.id), data: { "turbo-method": :delete } %>
</div>
